language: python

python:
  - "3.6"

git:
  submodules: false

install:
    - pip install -r requirements.txt
    - pip install nose2 flake8 pylint codecov

script: make test

after_success:
    - codecov --token 3e049fa4-4e8d-4368-b805-bb3f40603420
    # - coveralls

branches:
  only:
  - master

notifications:
  email: false
